@import 'tailwindcss/base';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-color: #1C1D21;
  --custom-color-2: #925FE2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  transition: 0.2s;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color: white;
  background-color: black;
}
::-ms-reveal {
  filter: invert(100%);
}